.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/typewriter-office-equipment-space-bar-office-supplies-typing-1607027.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-family: Alegreya;
  margin: 60px 321px 0;
}

.u-section-1 .u-text-2 {
  margin: 31px 152px 60px 151px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    width: 498px;
    margin-right: 283px;
    margin-left: 159px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 52px;
    margin-left: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 159px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 32px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 45px;
  }
}.u-section-2 {
  min-height: 632px;
  background-image: url("images/default-image.jpg");
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 296px;
  animation-duration: 1000ms;
}

.u-section-2 .u-image-1 {
  background-image: url("images/helvetica3.png");
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  min-height: 335px;
  animation-duration: 1000ms;
  background-image: url("images/helvetica2.png");
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 632px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 1.3125rem;
  background-image: none;
  margin: 0 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 521px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 244px;
  }

  .u-section-2 .u-image-2 {
    min-height: 276px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 521px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 184px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-2 .u-image-2 {
    min-height: 211px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 679px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 632px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-2 .u-image-2 {
    min-height: 317px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 466px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 139px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 171px;
  }

  .u-section-2 .u-image-2 {
    min-height: 193px;
  }
}.u-section-3 {
  min-height: 632px;
  background-image: url("images/default-image.jpg");
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 632px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 2px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 1.3125rem;
  background-image: none;
  margin: 0 0 0 8px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/Times_New_Roman.jpg");
  background-position: 50% 0%;
  min-height: 420px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  min-height: 212px;
  background-image: url("images/tnr1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 861px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -801px;
    position: relative;
    min-height: 454px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 521px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
    animation-duration: 1000ms;
    min-height: 699px;
  }

  .u-section-3 .u-image-2 {
    min-height: 175px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1020px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -960px;
    min-height: 184px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 899px;
  }

  .u-section-3 .u-image-2 {
    min-height: 134px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1065px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1005px;
    min-height: 632px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 398px;
  }

  .u-section-3 .u-image-2 {
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1285px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1225px;
    min-height: 139px;
  }

  .u-section-3 .u-image-1 {
    min-height: 589px;
  }

  .u-section-3 .u-image-2 {
    min-height: 127px;
  }
}.u-section-4 {
  background-image: url("images/default-image.jpg");
  min-height: 623px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/6FTcI72hSCbuQPW4YjRomDWa_310fe19a4bb1bfc574bfde3ccc04f776.jpg");
  background-position: 50% 50%;
  min-height: 316px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-2 {
  min-height: 305px;
  background-image: url("images/6FTcI72hSCbuQPW4YjRomDWa_e8ffdd16d9bf675fb027f4ccbe9fa817.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 621px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 1.3125rem;
  background-image: none;
  margin: -14px 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 861px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    min-height: 454px;
  }

  .u-section-4 .u-image-1 {
    animation-duration: 1000ms;
    min-height: 699px;
  }

  .u-section-4 .u-image-2 {
    min-height: 251px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 512px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1020px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 184px;
  }

  .u-section-4 .u-image-1 {
    min-height: 899px;
  }

  .u-section-4 .u-image-2 {
    min-height: 192px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1065px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 632px;
  }

  .u-section-4 .u-image-1 {
    min-height: 300px;
  }

  .u-section-4 .u-image-2 {
    min-height: 288px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1285px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 139px;
  }

  .u-section-4 .u-image-1 {
    min-height: 589px;
  }

  .u-section-4 .u-image-2 {
    min-height: 181px;
  }
}